.sub-title{
    font-size: 22px;
    &:before{
        display: inline-block;
        content: "";
        border-top: 5px solid $primary;
        border-radius: 5px;
        width: 20px;
        margin-right: 10px;
        transform: translateY(-3px);
    }
    &:after{
        display: inline-block;
        content: "";
        border-top: 5px solid $primary;
        border-radius: 5px;
        width: 20px;
        margin-left: 10px;
        transform: translateY(-3px);
    }
}

.section-title{
    font-size: 30px;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        height: 5px;
        background-color: $primary;
        border-radius: 5px;
        transform: translateX(-50px);
    }
}
.laravel-paginate{
    text-align: center;
    .link {
        background-color: $primary;
    }
}
.btn-common{
    outline: 0;
	height: 40px;
	padding: 8px 30px;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
    border-radius: 0;
    background-color: $primary;
    color: #fff;
    &:hover{
        background-color: rgba($primary, .7);
    }
}





//form control

.form-control{
    background: linear-gradient(to bottom,#fff 0%,#f3f3f3 100%);
}
textarea.form-control {
    height: 123px;
}