.footer-quick-view{
    border-bottom: 2px solid #fcfcfc;
    a{
        color: #fff;
        &:hover{
            color: #000000;
        }
    }
}
.footer{
    background-color:lighten( $tmp-dark, 10%);
}
.footer-menu{
    li{
        a{
            padding: 15px 30px;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            text-decoration: none;
            &:hover{
                color: $tmp-dark;
            }
        }
    }
}
































.footer-copyright{
    background-color: $tmp-dark;
    color: #fff;
}