.container{
    .col-md-12{
        text-align: center;
    }
}
.carosel-section{
    .carosel-item-single{
        height: 800px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}
.user-profile{
    background-color: #fafafa;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    img{
        opacity: .9;
    }
    &:hover{
        box-shadow: 0px 8px 6px 6px rgba(0, 0, 0, 0.1);
        img{
            opacity: 1;
        }
    }
}
.profile-image{
    position: relative;
    height: 320px;
    overflow: hidden;
}

.profile-info{
    padding: 10px 15px;
    p{
        margin-bottom: 6px;
        font-size: 14px;
    }
    span{
        font-weight: 700;
        font-size: 15px;
        color: $primary;
        padding-right: 10px;
    }
}


.btn-search{
    background: $primary;
    color: #fff;
    &:hover{
        background: darken($primary,10);
    }
}