.blog-single-carousal{
    margin: 0 15px;
}
.slick-next{
    position: absolute;
    top: 50%;
    right: -15px;
    
    
}
.slick-prev{
    position: absolute;
    top: 50%;
    left: -15px;
}
.slick-prev,.slick-next{
    i{
        font-size: 25px;
    }
}