.container{
    .col-md-12{
        text-align: center;
    }
}
.carosel-section{
    .carosel-item-single{
        height: 800px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}